/* ==================== Begin style.css =======================*/

* {
  box-sizing: border-box;
}

label,
input {
  display: block;
}

.error {
  border: 2px solid red;
}

#reg-submit {
  margin-top: 10px;
}

/* ==================== end style.css =========================*/
